xmlinject/src/main/resources/item.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.welflex.com/item"
	elementFormDefault="qualified">
	<xs:element name="item">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="description" type="xs:string"></xs:element>
				<xs:element name="price" type="xs:decimal"></xs:element>
				<xs:element name="quantity" type="xs:integer"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>