xmlinject/src/main/resources/person.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.welflex.com/person"
	elementFormDefault="qualified">
	<xs:element name="Person">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FirstName" type="xs:string"></xs:element>
				<xs:element name="LastName" type="xs:string"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>